

<div class="header">
  <div class="menu">
    <svg class="line-top" width="750" height="15" viewbox="0,0 1000,20">
      <line
        class="line-dash"
        x1="0"
        y1="15"
        x2="1000"
        y2="15"

      />
    </svg>
    <ul>
      <li>Home</li><li>Test</li><li>NewsFeed</li><li>Community</li>
    </ul>
  </div>
</div>

<!--Choose a community typing effect-->

<div class="typewriter">
  <h1>Choose your community...</h1>
</div>
<br>
<!--Community images-->
<table>
  <tr>
    <td>
      <div class="col-sm">
        <div class="zoominbox">
          <div class="polaroid">
            <a href="graphicdesignhome" target="_blank"><img src="assets/home/Graphicdesign.gif" class="zoomboximg" ></a>
            <div class="container">
              <h2><br>Graphic design community<br></h2><br>
            </div>
          </div><!--zoombox-->
        </div><!--col-4-->
      </div>
    </td>
    <td>
      <div class="col-sm">
        <div class="zoominbox">
          <div class="polaroid">
            <a href="l" target="_blank"><img src="assets/home/SE.gif" class="zoomboximg" ></a>
            <div class="container">
              <h2><br>Software Engineering community<br></h2>
            </div>
          </div><!--zoombox-->
        </div><!--col-4-->
      </div>
    </td>
    <td>
      <div class="col-sm">
        <div class="zoominbox">
          <div class="polaroid">
            <a href="GPcom/gp.html" target="_blank"><img src="assets/home/network.gif" class="zoomboximg" ></a>
            <div class="container">
              <h2><br>Networking community<br></h2><br>
            </div>
          </div><!--zoombox-->
        </div><!--col-4-->
      </div>
    </td>
    <td>
      <div class="col-sm">
        <div class="zoominbox">
          <div class="polaroid">
            <a href="GPcom/gp.html" target="_blank"><img src="assets/home/QA.gif" class="zoomboximg" ></a>
            <div class="container">
              <h2><br>Quality Assurance community<br></h2>
            </div>
          </div><!--zoombox-->
        </div><!--col-4-->
      </div>
    </td>
    <td>
      <div class="col-sm">
        <div class="zoominbox">
          <div class="polaroid">
            <a href="GPcom/gp.html" target="_blank"><img src="assets/home/mangment.gif" class="zoomboximg" ></a>
            <div class="container">
              <h2><br>Management community<br></h2><br>
            </div>
          </div><!--zoombox-->
        </div><!--col-4-->
      </div>
    </td>
  </tr>
</table>
<router-outlet></router-outlet>
